@model FirtMVC.App.Models.CustomerViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <partial name="_CustomerData" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
        jQuery(document).ready(function () {

            getCities($('#@Html.IdFor(model => model.Customer.Country)').val());

            $('#@Html.IdFor(model => model.Customer.Country)').change(function () {
                var countryId = $(this).val();
                getCities(countryId);
            });

        });

        function getCities(countryId) {
            $.getJSON('@Url.Action("Cities", "Customers")?countryId=' + countryId)
                        .done(function (data) {

                            $('#@Html.IdFor(model => model.Customer.City) option').remove();

                            $.each(data, function (index, item) {
                                var option = $('<option>').val(item.id).text(item.name);
                                $('#@Html.IdFor(model => model.Customer.City)').append(option);
                            });


                        });
    }

        $(document).ready(function () {
            $('#@Html.IdFor(model => model.Customer.Name)')
                .keyup(function () {
                    $('#nameCharachers').html($(this).val().length);
                });
        });
</script>
}
