<div>
    <h1>
        View Bage
    </h1>
    @ViewBag.CurrentDate
    <br />
    @ViewBag.Name
</div>

<div>
    <h1>
        Temp Data
    </h1>
    @TempData["CurrentDate"]
    <br />
    @TempData["Name"]
</div>